// Typography

$base-font-family: $code-font-family;
$base-line-height-px: $base-font-size * $base-line-height;

$border-radius: 4px;

// Colors

$site-title-color: $primary-color;
$table-text-color: $text-color;
$table-border-color: $border-color;
$table-header-border: $border-color;
$table-header-bg-color: $primary-color;

$brand-color: $background-color;
$link-base-color: $secondary-color;
$link-visited-color: $link-base-color;
$link-hover-color: $primary-color;

$border-color-01: $border-color;
$border-color-02: $border-color;
$border-color-03: $border-color;
