<ul>
  <li>
    <h3>Authenticity</h3>
    <p>Expressing &amp; honouring my inner truth; being real &amp; sincere</p>
  </li>
  <li>
    <h3>Caring</h3>
    <p>Being thoughtful; attributing importance &amp; concern</p>
  </li>
  <li>
    <h3>Creativity</h3>
    <p>Using imagination/original ideas to create; inventiveness</p>
  </li>
  <li>
    <h3>Open-mindedness</h3>
    <p>Considering multiple perspectives/ideas; minimizing prejudice</p>
  </li>
  <li>
    <h3>Persistence</h3>
    <p>Continuing despite difficult circumstances</p>
  </li>
  <li>
    <h3>Self-development</h3>
    <p>Advancing in knowledge, skills, character, life experience</p>
  </li>
</ul>